scipy==1.13.0
numpy==1.26.4
h5py==3.11.0
mat73==0.63
joblib==1.4.0
scikit-learn==1.4.2
threadpoolctl==3.5.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
kiwisolver==1.4.5
matplotlib==3.8.4
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
pandas==2.2.2
pytz==2024.1
tzdata==2024.1
seaborn==0.13.2
PyQt6==6.7.0
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
MarkupSafe==2.1.5
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==5.1.1
idna==3.7
jinja2==3.1.4
lazy-loader==0.4
mne==1.7.0
platformdirs==4.2.1
pooch==1.8.1
requests==2.31.0
tqdm==4.66.4
urllib3==2.2.1
QtPy==2.4.1
asttokens==2.4.1
comm==0.2.2
exceptiongroup==1.2.1
executing==2.0.1
ipython==8.24.0
ipywidgets==8.1.2
jedi==0.19.1
jupyterlab-widgets==3.0.10
parso==0.8.4
prompt-toolkit==3.0.43
pure-eval==0.2.2
pygments==2.18.0
pyvista==0.43.7
pyvistaqt==0.11.0
scooby==0.10.0
stack-data==0.6.3
traitlets==5.14.3
typing-extensions==4.11.0
vtk==9.3.0
wcwidth==0.2.13
widgetsnbextension==4.0.10
nibabel==5.2.1
torch==2.3.0